<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/seleccionar"></ion-back-button>
    </ion-buttons>
    <ion-title>Recetas por país</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-image ion-text-center ion-padding-top ion-margin-left ion-margin-right">
  <div class="ion-padding-top">
    <div class="seccion-user text-center">
      <img class="user-cheems" src="../../assets/img/user-cheems.png" alt="">
      <h2 class="tx-azul">Comidas <br> <span class="tx700">Por País</span></h2>
      <p class="tx-cafe tx500">Lista de comidas para probar y disfrutar.</p>
      <ion-button class="redondeado" [routerLink]="['/seleccionar']">Volver</ion-button>
    </div>
  </div>

  <ion-col class="bg-cheems">
    <ion-list *ngIf="data && data.length > 0">
      <ion-item *ngFor="let pais of data" [routerLink]="['/comidas-por-pais-nombre', pais.nombre]" class="recipe-item">
        <ion-thumbnail slot="start">
          <img *ngIf="pais.url_imagen; else defaultImage" alt="{{ pais.nombre }}" src="{{ pais.url_imagen }}"
            class="recipe-image" />
          <ng-template #defaultImage>
            <!-- <img class="cheems-huaso" src="../../assets/img/cheems-waso.png" alt="Imagen por defecto"> -->
          </ng-template>
        </ion-thumbnail>
        <div class="recipe-name-container">
          <ion-label class="recipe-name">{{ pais.nombre }}</ion-label>
        </div>
      </ion-item>
    </ion-list>
    <div class="ion-text-center ion-padding-top">
      <ion-button class="redondeado" [routerLink]="['/seleccionar']">Volver</ion-button>
      <ion-button class="redondeado" (click)="subir()">Subir</ion-button>
    </div>
  </ion-col>

  <div *ngIf="data && data.length === 0" class="ion-padding">
    <p>No hay categorías disponibles.</p>
  </div>
</ion-content>