.user-cheems{
  width: auto;
  margin: auto;
  display: block;
}

.secciones{
  border-radius: 50px;
  padding: 10px 20px;
}
.background-image{
  --background: url(../../assets/img/seleccionar-bg.png) 0 0/100% 100% no-repeat;
}
