#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.heading{
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: -60px;
  }
  .para{
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 70px;
    color: #A6ABB1;
  }
  .input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 70px;
    ion-input{
        margin-top: -12px;
    }
  }
  .ion-item{
    margin-top: 20px;
  }
  .forget-text{
    a{
        text-decoration: none;
        color: black;
    }
    text-align: end;
    margin-bottom: -10px;
    padding-right: 20px;
  }
  .login-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
  }
  .google-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
    --box-shadow: none;
  }
  .signup-text{
    a{
        text-decoration: none;
        color: var(--ion-color-primary);
    }
    padding-right: 20px;
    text-align: end;
  }
  ion-footer {
    display: block;
    // position: relative;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
  }
  .copyright{
    text-align: center;
  }
  
  .boton-centrado{
    text-align: center;
    margin: 2rem 0px;
  }

  .naranjo{
    color: orangered;
  }

  .background-image{
    --background: url(../../assets/img/fondo_inicio.jpg) 0 0/100% 100% no-repeat;
  }
  
  img.cheems-huaso{
    width: 60% !important;
    width: auto;
    margin: auto;
    display: block;
  }
  