<ion-header>
  <!-- <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content padding>
  <ion-card center>
    <ion-card-header>
      <b>Ingreso de Usuarios</b>
    </ion-card-header>
    <ion-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Correo:</ion-label>
            <ion-input type="text" name="correo" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" name="password" ngModel required></ion-input>
          </ion-item>
        </ion-list>
        <div padding>
          <ion-button type="submit" [disabled]="!loginForm.valid" class="redondeado">Iniciar sesión</ion-button>
        </div>
      </form>
      <hr>
      <div class="usuarios-activos">
        <h5>Lista 5 Ultimos Usuarios Registrados:</h5>
        <p *ngFor="let user of data">
          <ion-icon name="radio-button-on-outline" class="naranjo"></ion-icon>
          {{ user.nombre }} {{ user.apellido }}
        </p>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="boton-centrado">
    <ion-button class="redondeado center" [routerLink]="['/home']">regresar</ion-button>
  </div>
</ion-content>