<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recetas por tipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comidas por tipo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="seccion-user text-center">
          <img class="user-cheems" src="../../assets/img/user-cheems.png" alt="">
          <h2 class="tx-azul">Comidas <br> <span class="tx700">Por Tipo</span></h2>
          <p class="tx-cafe tx500">Lista de comidas para probar y disfrutar.</p>
          <ion-button class="redondeado" [routerLink]="['/seleccionar']">Volver</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="data && data.length > 0">
    <ion-item *ngFor="let categoria of data">
      <ion-thumbnail slot="start">
        <img *ngIf="categoria.imagen; else defaultImage" alt="{{ categoria.imagen }}" src="{{ categoria.imagen }}" />
        <ng-template #defaultImage>
          <img class="cheems-huaso" src="../../assets/img/cheems-waso.png" alt="Imagen por defecto">
        </ng-template>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ categoria.nombre }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="data && data.length === 0" class="ion-padding">
    <p>No hay categorías disponibles.</p>
  </div>
</ion-content>