<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>comidas-por-tipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comidas por tipo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="seccion-user text-center">
          <img class="user-cheems" src="../../assets/img/user-cheems.png" alt="">
        <h2 class="tx-azul ">Comidas <br> <span class="tx700">Por Tipo</span></h2>
        <p class="tx-cafe tx500">Lista de comidas para probar y disfrutar.</p>
        <ion-button class="redondeado" [routerLink]="['/seleccionar']">Volver</ion-button>

        <!-- <ion-item>
          <ion-label>Ingresa un término <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required></ion-input>
        </ion-item> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-accordion-group *ngFor="let cat of categories">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-thumbnail slot="start">
          <img alt="{{ cat.imagen }}" src="{{ cat.imagen }}" />
        </ion-thumbnail>
        <ion-label>{{ cat.nombre }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Descripción: <i>{{ cat.comentario }}</i></p>
      </div>
    </ion-accordion>
    <!-- <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion> -->
   
  </ion-accordion-group>
</ion-content>
