<ion-header >
  <ion-toolbar>
    <ion-title class="txt-naranjo">Receta Aleatoria</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="row mt-4">

  <div class=" text-center">
    <img class="user-cheems" src="../../assets/img/user-cheems.png" alt="">
    <h2 class="tx-azul tx700">Aleatorio</h2>
    <p class="tx-cafe tx500">¿Te apetece probar algo delicioso? Descubre nuestros platos en la aplicación y elige tu favorito para disfrutar en casa. ¡Buen provecho!</p>
    <ion-button class="redondeado" [routerLink]="['/seleccionar']">Volver</ion-button>
  </div>

  


  <ion-card-content *ngFor="let comida of postre">
    <ion-list >
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="texto ejemplo" src="https://via.placeholder.com/200x100" />
        </ion-thumbnail>
        <ion-label>{{comida.nombre_receta}}</ion-label>
        <p><a href="/paises/{{comida.pais_receta}}">detalle</a></p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>

