<ion-content class="background-image">
  <ion-grid>
    <!-- row -->
    <ion-row class="imagen-principal">
      <ion-col class="ion-padding-top">
        <img class="cheems-bg" src="" alt="">
      </ion-col>
    </ion-row>
    <!-- fin row -->
    <img class="cheems-huaso" src="../../assets/img/cheems-waso.png" alt="">
    <ion-row>
      <ion-col class="ion-text-center">
        <h1 class="tx-azul tx700">Bienvenid&#64;</h1>
        <p class="tx-cafe tx500">¡Bienvenido a nuestra app de comidas! Aquí podrás descubrir deliciosas opciones de
          diferentes países para
          satisfacer tus antojos culinarios. ¡Buen provecho!</p>
        <ion-button class="redondeado" [routerLink]="['/login']">Iniciar</ion-button>
        <hr>
        <b>
          <p class="tx-verde-osc">Portafolio de título - 2024</p>
        </b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>